{% extends "base.html" %}
{% block  body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Split It!</a>
    <a href="/back_to_index" type="button" class="btn btn-dark btn-sm mx-1">Back</a>
  </div>
</nav>
<div class="container my-3">
    <h2>{{group.title}}</h2>
    <a href="/add_expense/{{group.id}}" type="button" class="btn btn-dark btn-sm mx-1">Add a Expense</a>
    <a href="/add_member/{{group.id}}" type="button" class="btn btn-dark btn-sm mx-1">Add a Member</a>
    <a href="/suggested_payments/{{group.id}}" type="button" class="btn btn-dark btn-sm mx-1" style="float: right;">Suggested Payments</a>
    <div class="container my-3">
        <h2>Members</h2>
        {% if members|length==0 %}
        No Record
        {% else %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">Paid</th>
                <th scope="col">Expense</th>
                <th scope="col">Balance</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{member.name}}</td>
                <td>{{member.paid}}</td>
                <td>{{member.expense}}</td>
                <td>{{member.balance}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
    <div class="container my-3">
        <h2>Expenses</h2>
        {% if expenses|length==0 %}
        No Record
        {% else %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Paid by</th>
                <th scope="col">Paid for</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expenses %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{expense.name}}</td>
                <td>{{expense.amt}}</td>
                <td>{{expense.paid_by}}</td>
                <td>{{expense.paid_for}}</td>
                <td>{{expense.date}}</td>
                {% if expense.name=="Settled up" %}
                <td>Cannot be changed!</td>
                {% else %}
                <td>
                  <a href="/change_expense/{{expense.id}}" type="button" class="btn btn-dark btn-sm mx-1">Edit</a>
                  <a href="/delete_expense/{{expense.id}}" onclick="clicked(event)" type="button" class="btn btn-dark btn-sm mx-1">Delete</a>
                <td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
            </table>
        {% endif %}
        </div>
</div>
<hr>
<script>
  function clicked(e)
  {
      if(!confirm('You want to delete this expense?')) {
          e.preventDefault();
      }
  }
  </script>
{% endblock  body %}