{% extends "base.html" %}
{% block  body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Split It!</a>
    <a href="/back_to_group/{{group.id}}" type="button" class="btn btn-dark btn-sm mx-1">Back</a>
  </div>
</nav>
<div class="container my-3">
  <h2>Add a Member to group: {{group.title}}</h2>
  <form action="/add_member/{{group.id}}" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Member Name</label>
      <input type="text" class="form-control" name="name" id="name" required>
    </div>
  <button type="submit" class="btn btn-dark">Add</button>
  </form>
</div>
{% endblock  body %}