{% extends "base.html" %}
{% block  body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Split It!</a>
    <a href="/back_to_index" type="button" class="btn btn-dark btn-sm mx-1">Back</a>
  </div>
</nav>
<div class="container my-3">
  <h2>Change group name</h2>
<form action="/change_name/{{group.id}}" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Group name</label>
    <input type="text" class="form-control" name="title" id="title" value={{group.title}} required>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
        <select id="type" class="form-control" name="type">
            <option value="Home">Home</option>
            <option value="Trip">Trip</option>
            <option value="Couple">Couple</option>
            <option value="Other">Other</option>
        </select>
  </div>
  <button type="submit" class="btn btn-dark">Change</button>
</form>
</div>
<hr>
<div class="container my-3">
{% endblock  body %}